{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le meilleur réseau d'appartements
{% endblock %}

{% block body %}

    <div class="container">
        <div class="bg-light mb-3 mt-3 px-4 pt-3 pb-1">
            <h1 class="display-3">Bienvenue sur SymBNB ! </h1>
            <p class="lead">
                Nous mettons en relation les voyageurs et les propriétaires qui
                veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la
                location !
            </p>
            <hr class="my-4">
            <p>
                Vous êtes Voyageur ? Et vous voulez voir ou vous pourrez loger pour votre prochain
                déplacement ?
            <p class="lead">
                <a href="#" class="btn btn-primary btn-g" role="btn">voir nos annonces</a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-3">Nos appartements stars</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49 € / nuit</strong> <br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="https://placehold.it/1000x400" alt="Image de l'appartement"
                         style="height: 200px; width: 100%; display: block"
                    >
                    <div class="car-body p-3">
                        <h4 class="card-title">
                            Appartement de ouf!
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Assumenda inventore labore
                            magni nulla quae, quasi quidem ratione repellat repellendus veniam.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus !</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49 € / nuit</strong> <br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="https://placehold.it/1000x400" alt="Image de l'appartement"
                         style="height: 200px; width: 100%; display: block"
                    >
                    <div class="car-body p-3">
                        <h4 class="card-title">
                            Appartement de ouf!
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Assumenda inventore labore
                            magni nulla quae, quasi quidem ratione repellat repellendus veniam.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus !</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49 € / nuit</strong> <br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="https://placehold.it/1000x400" alt="Image de l'appartement"
                         style="height: 200px; width: 100%; display: block"
                    >
                    <div class="car-body p-3">
                        <h4 class="card-title">
                            Appartement de ouf!
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Assumenda inventore labore
                            magni nulla quae, quasi quidem ratione repellat repellendus veniam.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="h1 mt-3 mb-3">Nos propriétaires stars !</h2>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Massinissa AIT SALAH</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://placehold.it/64x64" alt="Avatar de Massinissa AIT SALAH"
                                 class="float-start me-3">
                            <p style="margin-right: 5px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Fugiat, quia?</p>
                            <a href="" class="btn btn-success float-end">En savoir plus!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Massinissa AIT SALAH</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://placehold.it/64x64" alt="Avatar de Massinissa AIT SALAH"
                                 class="float-start me-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quia?</p>
                            <a href="" class="btn btn-success float-end">En savoir plus!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
