div.container{
    margin-top: 20px;
}
div.ad-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}
div.ad-title h1, div.ad-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.avatar {
    max-width: 128px;
    min-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 85px;
    min-height: 85px;
}
.avatar-mini {
    max-width: 50px;
    min-height: 50px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: white !important;
    background: rgba(255, 0, 8, 0.45) !important;
}
